footer {
	position: relative;
	width: 100%;
	min-height: 50vh;
	background-color: transparentize($color-primary, 0.9);

	.contact-content {
		margin-top: 5%;
	}

	h2 {
		color: $color-primary-dark;
	}

}


