.custom-navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap;
	background-color: $color-primary-dark;
	z-index: 1000;

	-webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

	&.navtop {
		background-color: transparent !important;
		box-shadow: none;
	}

	ul {
		margin-bottom: 0;
		padding: 0;
		min-width: 270px;
	}

	button {
		position: relative;
		color: #fff !important;
		font-weight: 400 !important;
		border-radius: 0;
	}

	.active {
		border-top: $activeClassBorderSize solid #fff;
	}

	.inactive {
		border-top: $activeClassBorderSize solid transparent;
	}
}

@media screen and (min-width: ($small-limit + 1px)) {
	.custom-navbar {
		box-shadow: 0 4px 2px -2px rgba(10, 10, 10, 0.8);

		ul {
			float: right;
		}

		button {
			padding: 20px 10px 30px 10px !important;
		}
	}
}

@media screen and (max-width: $small-limit) {
	.custom-navbar {
		box-shadow: none;

		ul {
			float: left;
		}

		button {
			font-size: 12px !important;
			padding: 20px 5px 30px 5px !important;
		}

		#navitem-container {
			padding: 0 5px !important;
		}
	}
}

