html {
  font-family: 'Roboto', sans-serif;
}

body {
	background-image: url("/public/romablur.jpg");
	background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
	font-size: 13px;
	line-height: 20px;
}

.project-element {
	list-style-type: none;
	border: 5px solid #fff;
	margin: 10px;
	padding: 0;
	padding-bottom: 0;
	font-size: 0px;
	line-height: 0px;
}

.test-class {
	color: blue;
	div {
		padding: 0;
	}
}
