/*colors*/
$bgBright: #fff;
$darkColor:  #1f2d2d;
$borderColor: $darkColor;
$headerImgBorderColor: $darkColor;
$navbarBgColor: rgba(30, 30, 30, 0.8);
$navbarActiveBgColor: rgba(30, 30, 30, 0.9);

$elementTitleColor: rgba(30, 30, 30, 0.05);
$elementTitleTextColor: #000;
$elementTagTextColor: #fff;

/*font sizes*/
$standardSize: 13px;
$standardLHeight: 20px;
$headerTextSize: 20px;
$headerTextLHeight: 24px;
$headerTextSizeSmaller: 12px;
$headerTextLHeightSmaller: 16px;
$elementTitleSize: 20px;

@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: $bgBright;
	margin: 0;
	font-size: $standardSize;
	line-height: $standardLHeight;
}

.custom-navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap;
	background-color: $navbarBgColor;
	z-index: 1000;

	-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

	&.navtop {
		background-color: transparent !important;
		box-shadow: none;
	}

	ul {
		list-style: none;
		/*float: right;*/
		margin-bottom: 0;
		padding: 0;
	}

	li {
		position: relative;
		display: inline-block;
		padding: 10px 30px;
	}

	a {
		cursor: pointer;
		text-decoration: none;
		font-size: 16px;
		color: #fff;
	}

	.active {
		background-color: rgba(130, 130, 130, 0.2);
		border-top: 2px solid #fff;
	}

	.inactive {
		border-top: 2px solid transparent;
	}
}

header {
	/*https://www.flickr.com/photos/triplea4/15042634190/*/
	/*add fixed for stationary effect*/
	background: url("/public/mountains_dark_compressed.jpg") no-repeat center center; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100vh;
	width: 100%;
	border-bottom: 1px solid $borderColor;

	p {
		text-align: center;
		color: #fff;
	}

	.header-title {
		font-size: $headerTextSize*2;
		line-height: $headerTextLHeight*2;
		margin-top: 10%;
		border-top: 0.5px solid rgba(255, 255, 255, 0.4);
		padding-top: 20px;
	}

	img {
		margin-top: 10vh;
		border-radius: 50%;
		border: 7px solid $headerImgBorderColor;
	}

	.header-arrow {
		position: absolute;
		bottom: 0;
		margin-bottom: 3vh;
		color: transparentize(#fff, 0.85);
		text-align: center;
	}
}

.gallery {
	margin: 50px 0;
	min-height: 80vh;
	position: relative;
}

.project-element {
	width: 300px;
	margin-bottom: 20px;
	cursor: pointer;

	img {
		width: 100%;
		height: auto;
	}
}

.project-tag {
	font-size: $standardSize;
	line-height: $standardLHeight;
	color: $elementTagTextColor;
	padding: 0px 4px;
	margin: 0 2px 2px 2px;
	float: left;
	border-radius: 8px;
}

.project-dialog {
	::-webkit-scrollbar {
		background: transparent;
	}

	p {
		font-size: $headerTextSize;
		line-height: $headerTextLHeight;
	}

	img {
		padding: 10px 0;
	}
}

footer {
	position: relative;
	width: 100%;
	min-height: 25vh;
	border-top: 1px solid $borderColor;
	background-color: $darkColor;

	p {
		margin-top: 10%;
		text-align: center;
		color: #fff;
	}
}

@media screen and (min-width: 701px) and (max-width: 845px) {
	.gallery {
		margin-left: 30px;
	}
}

@media screen and (min-width: 700px) {
	header {
		p {
			font-size: $headerTextSize;
			line-height: $headerTextLHeight;
		}

		.header-title {
			font-size: $headerTextSize*2;
			line-height: $headerTextLHeight*2;
		}

		.header-arrow {
			left: 49vw;
			font-size: 2vw !important;
		}
	}
}

@media screen and (max-width: 699px) {
	header {
		p {
			font-size: $headerTextSizeSmaller;
			line-height: $headerTextLHeightSmaller;
		}

		.header-title {
			font-size: $headerTextSizeSmaller*2;
			line-height: $headerTextLHeightSmaller*2;
		}

		.header-arrow {
			left: 47vw;
			font-size: 6vw !important;
		}
	}

	.project-element {
		margin: 0 0 20px 0;
		width: 45%;

		.project-tag {
			padding: 2vw 4px;
			margin: 0 1px 1px 1px;
			font-size: 3vw !important;
		}
	}

	.gallery {
		margin-left: 2%;
	}
}

@media screen and (min-width: 401px) {
	.custom-navbar {
		box-shadow: 0 4px 2px -2px rgba(10, 10, 10, 0.8);

		ul {
			float: right;
		}
	}
}

@media screen and (max-width: 400px) {
	.custom-navbar {
		box-shadow: none;

		ul {
			text-align: center !important;
		}

		li {
			padding: 10px 15px;
		}

		a {
			font-size: 12px;
		}
	}
}
