/*colors*/
$bgBright: #fff;
$darkColor:  #1f2d2d;
$borderColor: $darkColor;
$headerImgBorderColor: $darkColor;
$navbarBgColor: rgba(30, 30, 30, 0.8);
$navbarActiveBgColor: rgba(30, 30, 30, 0.9);

$elementTitleColor: rgba(30, 30, 30, 0.05);
$elementTitleTextColor: #000;
$elementTagTextColor: #fff;

/*font sizes*/
$standardSize: 13px;
$standardLHeight: 20px;
$headerTextSize: 20px;
$headerTextLHeight: 24px;
$headerTextSizeSmaller: 12px;
$headerTextLHeightSmaller: 16px;
$elementTitleSize: 20px;

/*misc*/
$activeClassBorderSize: 3px;

$small-limit: 400px;
$medium-limit: 700px;
$large-limit: 845px;

@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: $bgBright;
	margin: 0;
	font-size: $standardSize;
	line-height: $standardLHeight;
}

@import './custom-navbar';
@import './top';
@import './projects';
@import './contact';

