header {
	/*https://www.flickr.com/photos/triplea4/15042634190/*/
	/*add fixed for stationary effect*/
	background: url("/public/mountains_dark_compressed.jpg") no-repeat center center; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100vh;
	width: 100%;

	p {
		text-align: center;
		color: #fff;
	}

	.top-title {
		font-size: $headerTextSize*2;
		line-height: $headerTextLHeight*2;
	}

	img {
		margin-top: 10vh;
		border-radius: 50%;
		border: 7px solid $headerImgBorderColor;
	}

	.top-arrow {
		position: absolute;
		bottom: 0;
		left: 48%;
		color: #fff !important;
		margin-bottom: 3vh;
		color: transparentize(#fff, 0.2);
		text-align: center;
	}
}

@media screen and (min-width: ($medium-limit + 1px)) {
	header {
		p {
			font-size: $headerTextSize;
			line-height: $headerTextLHeight;
		}

		.top-title {
			font-size: $headerTextSize*2;
			line-height: $headerTextLHeight*2;
		}
	}
}

@media screen and (max-width: $medium-limit) {
	header {
		p {
			font-size: $headerTextSizeSmaller;
			line-height: $headerTextLHeightSmaller;
		}

		.top-title {
			font-size: $headerTextSizeSmaller*2;
			line-height: $headerTextLHeightSmaller*2;
		}
	}
}

